body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #4B4B4B;
}
h1{
	margin: 0;
}
.box-login{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #1E2118;
	text-align: center;
}
.box-login_h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;	
}
.box-login input[type = "email"], .box-login input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #6F00FF;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.box-login input[type = "email"]:focus, .box-login input[type = "password"]:focus{
	width: 250px;
	border-color: #73D85F;
}
.box-login input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #73D85F;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box-login input[type = "submit"]:hover{
	background-color: #73D85F;
}
